<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <p>
            Product name: {{ product.name }}
        </p>
        <p>
            Product description: {{ product.description }}
        </p>
        <p>
            Product remain: {{ product.remain }}
        </p>
         <p>
            Product price: {{ product.price }}
        </p>
         <p>
            Product category: {{ product.category }}
        </p>
<a href="/">To main page</a>
</body>
</html>